.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  height: 100%;
  width: 100%;
}
html
{
  height: 100%;
  width: 100%;
}


.brand
{
  font-size: 6em;
  font-weight: 400;
  color:#fb8521;
  font-family: 'Cookie', cursive;
}
.subtitle
{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.150em;
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 3%;
}
.usernameinput
{
  margin: 0 auto;
  width: 400px;
  margin-bottom: 1%;
}
.submitbuttongroup
{
  width:400px;
  margin: 0 auto;
  margin-bottom: 4%;
}
.socialshare
{
  margin-bottom: 2%;
}
/* For box layout */
.box
{
  width: 100%;
  margin-top: 1%;
  margin-bottom:2%;
}
.container
{
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-content: center;
  flex-direction: column;
}
.mainboxcontainer
{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
#titlebox
{
  margin-top: 5%;
  margin-bottom: 5%;
  flex-grow:10;
}
#advertbox
{
  margin-bottom: 2%;
  flex-grow:1;
}

@media only screen and (max-device-width: 480px) {
  .brand
  {
    margin-top: -30%;
  }
.usernameinput
{
  width: 100%;
}
.submitbuttongroup
{
  width:100%;
}
.subtitle
{
  width:100%;
}
.adsbygoogle
{
  height:50px;
}
  }
